#grid-wrapper {
  display: block;
  max-width: 100vw;
}

#custom-post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

/* For all items in grid */
#custom-post-grid > * {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.grid-item {
  width: 100%;
  aspect-ratio: 1 / 1; /* Maintains a square shape */
  position:relative;
}

#custom-post-grid > .grid-item:hover {
    mix-blend-mode: exclusion; /* Applica il metodo di fusione */
}

.fotoContainer {
  width: 100%;
  height: 100%; /* Ensures the container fills the grid item */
  display: flex; /* Enables flexbox for inner alignment */
}

.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  /*transition: opacity 0.3s ease;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none; /* Allow clicks to pass through */
}

.grid-item:hover .info-overlay {
  opacity: 1;
  display: flex;
}

.grid-item:hover .info-overlay > *{
  opacity: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.categories-tags, .year-title {
  margin: 0px;
}

.categories-tags {
  align-self: flex-start;
  display:block;
}

.categories-tags > * {
  color: white; /* White text */
  background: black;
}

.categories-tags > ul {
  margin-top:0;
}

.categories-tags > ul > li {
  z-index:9999;
}

.categories-tags a, .year-title span {
  color: white; /* White text */
  background: black;
}

.year-title {
flex-direction:column!important;
}

/* Style for categories and tags list */
.categories-tags ul {
  list-style: none;
  padding: 0;
}

/* Style for the image wrapper */
.image-wrapper {
  display: flex;
  max-width:100%;
  aspect-ratio: 1 / 1;
}

.image-wrapper img{
  display: flex;
}

.square img{width:50%; height:auto;}

/* Now, we align the image within the image wrapper */
.fotoContainer.destra .image-wrapper {
  justify-content: flex-end; /* Align image to the right */
}
.fotoContainer.destra .image-wrapper img{
    height: 100%;
    width: auto;
}

.fotoContainer.sinistra .image-wrapper {
  justify-content: flex-start; /* Align image to the left */
}
.fotoContainer.sinistra .image-wrapper img {
    height: 100%;
    width: auto;
}

.fotoContainer.alto .image-wrapper {
  align-items: flex-start; /* Align image to the top */
}

.fotoContainer.alto .image-wrapper img{
    width: 100%;
    height: auto;
  object-fit:contain;
}

.fotoContainer.basso .image-wrapper {
  align-items: flex-end; /* Align image to the bottom */
}
.fotoContainer.basso .image-wrapper img {
  width: 100%;
  height: auto;
}

/* Media query for mobile screens (less than 600px) */
@media (max-width: 992px) {
  #custom-post-grid > :nth-child(-n+2) {
  flex-basis: 100%!important; /* For the first two items */
  max-width: 99vw!important;
}
#custom-post-grid > :nth-child(n+3) {
  flex-basis: 100%!important; /* For the first two items */
  max-width: 99vw!important;
}
}

/* FIX SAFARI - Foto cover progetto */
.left-column-progetto img {
    max-height: 100%;
    height: auto;
    height: -webkit-fill-available;
    top: 0;
    left: 0;
    object-fit: contain;
    width: -webkit-fill-available!important;
}
