
.progetto-content {
  display: flex;
  flex-wrap: wrap;
  min-height: 99vh;
  height: 100%; /* Minimum height to fill the screen */
}

.related-fotos {
    display: grid; /* Using CSS Grid to layout the items */
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
}

.left-column-progetto {
  width: 65%;
  max-height:100vh;
  padding:0!important;
}
.left-column-progetto img {
    /*background-color:green;
    max-width: 63%; modificata larghezza massima*/
    max-height:100%;
    height: auto;
    height: -webkit-fill-available;
    top:0;
    left:0;
    object-fit: contain;
    /*width:auto;*/
    position: relative;
    width: -webkit-fill-available;
    position: relative;
    box-sizing: border-box;
}
.left-column-progetto .left-column-top > *{
  padding: 28px 0 28px 0;
}
.left-column-bottom {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    bottom: 6px;
    /*mix-blend-mode:exclusion;*/
}

.foto-navigation > * {
    /*mix-blend-mode:exclusion;*/
}
.foto-navigation {
 padding-left: 5px;
}

.left-column-progetto .left-column-top{
  padding: 28px 0 28px 0;
}

.right-column-progetto {
  width: 35%;
  padding-top:65px;/*era 50px*/
  padding-right:6px;/*era 0px messo a 6 per leggibilita*/
}
.progetto-description{
  /*text-indent: 1em;*/
}
.right-column-progetto-top{
  padding-bottom:160px;
}

.right-column-progetto-top > .related-foto-item{
  max-width:100%;
}

.fotoContainer {
  max-width:100%;
}

/* Style for the image wrapper */
.image-wrapper {
  display: flex;
  max-width:inherit;
  aspect-ratio: 1 / 1;
  max-width:100%;
  width: inherit;
}
.image-wrapper img{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

/* Now, we align the image within the image wrapper */
.fotoContainer.destra .image-wrapper {
  justify-content: flex-end;
  width: -webkit-fill-available;
}
.fotoContainer.destra .image-wrapper img{
    height: 100%;
    width: auto;
}

.fotoContainer.sinistra .image-wrapper {
  justify-content: flex-start;
}

.fotoContainer.sinistra .image-wrapper img {
    height: 100%;
    width: auto;
}

.fotoContainer.alto .image-wrapper {
  align-items: flex-start;
}

.fotoContainer.alto .image-wrapper img{
    width: 100%;
    height: auto;
  object-fit:contain;
}

.fotoContainer.basso .image-wrapper {
  align-items: flex-end; /* Align image to the bottom */
}
.fotoContainer.basso .image-wrapper img {
  width: 100%;
  height: auto;
}
.back{
  color: white;
  background-color: black;
}
.back:hover{
  color: black;
  background-color: white;
}
/* Mobile styles */
@media (max-width: 1120px) {
    .left-column-progetto, .right-column-progetto {
        width: 100vw;
    }
    .left-column-progetto > img {
        max-width: 100%;
        position:relative;
    }
    .left-column-progetto> a > img {
        max-width: 100vw;
        width:100%;
        position:relative;
    }

    .right-column-progetto .related-photo-item {
        width: 100%;
    }
.back{
  color: white;
  background-color: black;
}
.back:hover{
  color: black;
  background-color: white;
}
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .related-fotos {
        grid-template-columns: repeat(2, 1fr); /* Switches to two columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .related-fotos {
        grid-template-columns: 1fr; /* Single column layout on very small screens */
    }
}

/*[data-single="single-page-true"] {
    border: 1px solid red;*/
