
.progetto-content {
  display: flex;
  flex-wrap: wrap;
  min-height: 99vh;
  height: 100%; /* Minimum height to fill the screen */
}

.left-column-progetto {
  width: 65%;
  max-height:100vh;
}
.left-column-progetto img {
    max-width: 63%;
    max-height:100%;
    /*height: auto;*/
    height: -webkit-fill-available;
    display: block;
    position:fixed;
    top:0;
    left:0;
  object-fit: contain;
  /*background-color:green;*/
  width:auto;
}
.left-column-progetto .left-column-top > *{
  padding: 28px 0 28px 0;
}
.left-column-bottom {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    bottom: 6px;
    /*mix-blend-mode:exclusion;*/
}

.foto-navigation > * {
    /*mix-blend-mode:exclusion;*/
}
.foto-navigation {
 padding-left: 5px;
}

.left-column-progetto .left-column-top{
  padding: 28px 0 28px 0;
}

.right-column-progetto {
  width: 35%;
  padding-top:65px;/*era 50 px*/
  padding-left: 6px;
}
.progetto-description{
  /*text-indent: 1em;*/
}
.right-column-progetto-top{
  padding-bottom:160px;
}

/* Read More functionality */
.description-content {
    transition: max-height 0.5s ease;
}

.description-content.collapsed {
    max-height: calc(100vh - 8em); /* Screen height minus title/year/padding approx */
    overflow: hidden;
    position: relative;
}

/* Gradient fade for collapsed content */
.description-content.collapsed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    pointer-events: none;
}

.read-more-toggle {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
    color: inherit;
}

.related-fotos{
  display:block;
}

.right-column-progetto-top > .related-foto-item{
  max-width:100%;
}

.fotoContainer {
  max-width:100%;
}

/* Style for the image wrapper */
.image-wrapper {
  display: flex;
  max-width:inherit;
  aspect-ratio: 1 / 1;
  max-width:100%;
  width: inherit;
}
.image-wrapper img{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

/* Now, we align the image within the image wrapper */
.fotoContainer.destra .image-wrapper {
  justify-content: flex-end;
  width: -webkit-fill-available;
}
.fotoContainer.destra .image-wrapper img{
    height: 100%;
    width: auto;
}

.fotoContainer.sinistra .image-wrapper {
  justify-content: flex-start;
}

.fotoContainer.sinistra .image-wrapper img {
    height: 100%;
    width: auto;
}

.fotoContainer.alto .image-wrapper {
  align-items: flex-start;
}

.fotoContainer.alto .image-wrapper img{
    width: 100%;
    height: auto;
  object-fit:contain;
}

.fotoContainer.basso .image-wrapper {
  align-items: flex-end; /* Align image to the bottom */
}
.fotoContainer.basso .image-wrapper img {
  width: 100%;
  height: auto;
}
.back{
  color: white;
  background-color: black;
}
.back:hover{
  color: black;
  background-color: white;
}
/* Mobile styles */
@media (max-width: 1120px) {
    .left-column-progetto, .right-column-progetto {
        width: 100vw;
    }
    .left-column-progetto > img {
        max-width: 100%;
        position:relative;
    }
    .left-column-progetto> a > img {
        max-width: 100vw;
        width:100%;
        position:relative;
    }

    .right-column-progetto .related-photo-item {
        width: 100%;
    }
.back{
  color: white;
  background-color: black;
}
.back:hover{
  color: black;
  background-color: white;
}
}

